body {
    margin: 0;
    font-family: 'Smythe', cursive;
    font-size: 16px;
}

header {
    background-image: url('./header-image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom -70px right 0;
    height: 170px;
    color: #ffffff;
    display: flex;
    align-items: center;
    margin-bottom: 55px;
}

header .container {
    margin-bottom: 20px;
}


h1 {
    font-size: 40px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 5px;
}

h2 {
    margin: 0;
    font-size: 28px;
}

h3 {
    font-size: 23px;
    font-weight: 400;
    margin: 0;
}

h4 {
    margin: 0;
    font-size: 20px;
}

.main-container {
    width: 600px;
    margin: 0 auto;
}

.container {
    width: 500px;
    margin: 0 auto;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

ul.list-of-products {
    gap: 45px;
}

ul li {
    display: flex;  
}

.card {
    border-bottom: 1px solid lightgrey;
    gap: 30px;
    height: 140px;
}

.add-btn{
margin-left: auto;
margin-top: 5px;
}

.product-icon {
    font-size: 97px;
}

i {
font-size: 50px;
color: lightgray;
}

.order-overview {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 45px;
}

.product-order {
    align-items: center;
}

.order-overview-header {
    margin-bottom: 64px;
}

.list-of-orders {
    gap: 22px;
    border-bottom: 2px solid #393333;
    padding-bottom: 30px;
}

.remove-product {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ffffff;
    border: none;
    color: #BBBBBB;
    font-size: 12px;
    padding: 7px 15px;
}

.total-price-product {
    margin-left: auto;
}

.total-price-container {
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
}

.complete-order-btn {
    margin: 53px 0;
    background-color: #16DB99;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 16px;
    border: none;
    padding: 18px 0;
}

.hidden {
    display: none;
}